version: '3.8'

services:
  jupyter:
    build: .
    container_name: kaggle-jupyter
    ports:
      - "8888:8888"
    volumes:
      - .:/workspace
    environment:
      - JUPYTER_ENABLE_LAB=yes
    stdin_open: true
    tty: true
